<% layout('layouts/boilerplate') %>
    <div class="d-flex flex-wrap gap-4">
        <% for(let item of products){ %>
            <div class="card h-50 product" style="width: 21rem;">
                <img src="<%=item.image%>" class="product_img card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=item.name%>
                    </h5>
                    <h5 class="card-title">
                        <%=item.price%> ₹
                            <span style="text-decoration: line-through;color:gray ;">

                                <%=item.price *1.5 %>
                            </span>
                    </h5>
                    <p class="card-text gray">
                        <%=item.desc.substring(0,60)%>...
                    </p>
                    <p class="card-text">
                        <%=item.category.substring(0,20)%>...
                    </p>
                    <a href="products/<%=item._id%>" class="btn btn-primary">show</a>
                </div>
            </div>

            <% } %>
    </div>